*{
    margin: 0%;
    padding: 0%;
}
nav{
    background: #650603;
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
}
.frontend-masters-image{
    width: 250px;
    height: 40px;
    margin-bottom: -5px;
    font-weight: 400;
    margin-left: 101px;
}
.nav-links{
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #AAAAAA;
    font-weight: 100;
}
.NAV-LINKS{
    padding: 6px;
    margin-right: 81px;
}
.nav-button{
    background: #c02d28;
    font-size: 16px;
    border-radius: 40px;
    color: white;
    width: 106px;
    height: 40px;
    padding: 0 20px 0 20px;
    margin-left: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}
.nav-links:hover{
    color: white;
}
.nav-button:hover{
     opacity: 90%;
}
header{
    font-family: sans-serif;
    padding: 40px 30px 40px 30px;
    margin: 0 75px 0 0
}
.header-heading-one{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    line-height: 42px;
    position: relative;
    overflow: hidden;
    min-height: 60vh;
}
.header__video{
    position: absolute;
    top: 0%;
    min-width: 100%;
    z-index: -1;
}
.header-heading-two{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    line-height: 42px;
}
.header-button-one{
    background-color: #c02d28;
    font-size: 19px;
    border: none;
    border-radius: 40px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    cursor: pointer;
    padding: 20px 30px 20px 30px;
    margin-left: 339px;
    margin-top: 26px;
}
.header-button-two{
    font-size: 19px;
    border: none;
    border-radius: 40px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    cursor: pointer;
    padding: 20px 30px 20px 30px;
    background: #c94f17;
    margin-left: 5px;
}
.header-button-one,.header-button-two:hover{
    opacity: 90%;
}
.JS-diamond{
    display: flex;
    justify-content: center;
    padding: 0 30px;
    background: #222 linear-gradient(
135deg,transparent,rgba(0,0,0,.7));
}
.section-one-images{
    width: 80px;
    height: 80px;
    padding: 40px 10px 40px 10px;
}
.flex-section{
    padding: 30px 40px 20px 40px;
}
.section-one-paragraph{
    font-size: 27px;
    font-weight: 600;
    color: #e6e6e6;
    line-height: 1.5;
    margin-bottom: 23px;
    text-align: center;
}
section{
    font-family: sans-serif;
    background-color: #0A57A3;
}
.section-one-link{
    font-size: 27px;
    font-weight: 600;
    color: #e6e6e6;
    line-height: 1.5;
    margin-bottom: 23px;
    text-align: center;
}
.section-one-link:hover{
    color: white;
}
.tweet{
    background: #fff;
    border-radius: 10px;
    color: #222;
    line-height: 1.4;
    width: 353px;
    padding: 16px;
    height: 224px;
    margin: 10px;
}
.twitter-image{
    width: 24px;
    height: 24px;
    margin-left: 140px;
    cursor: pointer;
}
.tweet-top{
    display: flex;
}
.tweet-image{
    width: 49px;
    height: 49px;
    margin-right: 10px;
    border-radius: 50%;
}
.flex-section-two{
    padding: 0 30px;
    margin: 0 35px;
}
.tweet-name{
    font-size: 16px;
    color: black;
    line-height: 1.4;
    font-weight: 700;
    text-decoration: none;
    width: 146%;
}
.tweet-handle{
    font-size: 14px;
    color: #8A8A8A;
    line-height: 1.4;
    text-decoration: none;
}
.tweet-link{
    display: flex;
    flex-direction: column;
}
.tweet-body{
    margin: 10px 0;
}
.tweet-paragraph{
    line-height: 23.8px;
    color: rgb(34, 34, 34);
    font-size: 17px;
    width: 301px;
}
.tweet-body-a{
    color: #1da1f2;
    text-decoration: none;
    font-size: 17px;
}
.tweet-timestamp{
    color: #8a8a8a;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
}
.tweet-bottom{
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding-top: 10px;
}
.tweet-body-a:hover{
    text-decoration: underline;
}
.tweet-name:hover{
    text-decoration: underline;
}
.tweet-timestamp:hover{
    text-decoration: underline;
}
.section-two{
    display: flex;
    justify-content: space-around;
}
.section-two-heading{
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: #e6e6e6;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 37%;
    margin-left: 452px;
    margin-top: -27px;
}
body{
    font-family: sans-serif;
}
.join-now{
    padding: 200px 59px 170px 0px;
    background-image: url('https://static.frontendmasters.com/assets/fm/js/static/bg2.c89a0cad3a.jpg');
    width: 105%;
    background-position: center;
    background-size: cover;
}
.section-two-button{
    padding: 20px;
    margin-left: 556px;
    font-size: 30px;
    line-height: 1.25;
    background: #c94f17;
    border: none;
    border-radius: 40px;
    color: white;
    width: 324px;
    cursor: pointer;
}
.section-two-button:hover{
    opacity: 90%;
}
.bootcamp-image{
    width: 240px;
    height: auto;
    opacity: 1;
}
.section-three{
    padding: 40px 30px;
    text-align: center;
    background-image: url('https://static.frontendmasters.com/assets/fm/js/static/bc-ad-bg.5d061b025d.png');
    background-color: #2d2121;
}
.section-three-paragraph{
    font-size: 16px;
    color: #E6E6E6;
    width: 31%;
    margin: 16px 0 16px 460px;
}
.section-three-link{
    font-size: 16px;
    color: #DD625E;
    margin: 16px 0;
}
.section-three-link:hover{
    opacity: 80%;
}
footer{
    padding: 50px 0 70px 0;
    background-color: #111111;
}
.app-store-image{
    width: 135px;
    height: 45px;
    margin: 10px 10px 0 0;
}
.footer-icons{
    width: 35px;
    height: 35px;
    padding: 17px 5px 0 0;
}
.footer-links{
    margin-left: 373px;
    margin-top: -33px;
}
.footer-images-and-icons{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 10px;
}
.google-play-image{
    width: 166px;
    height: 64px;
    margin-bottom: -9px;
}
.footer-email-link{
    font-size: 14px;
    color: #DD625E;
    text-decoration: none;
}
.footer-paragraph{
    color: #8A8A8A;
    font-size: 14px;
    margin-top: -6px;
}
.footer-last-paragraph{
    display: flex;
    justify-content: space-between;
    margin: 9px 100px;
}
.email-link{
    margin-left: 1000px;
    padding-bottom: 8px;
}
.footer-email-link:hover{
    text-decoration: underline;
    opacity: 80%;
}
.footer-last-link{
    color: #8A8A8A;
    font-size: 14px;
    text-decoration: none;
}
.footer-last-link:hover{
    text-decoration: underline;
}
.tweet-one{
    background: #fff;
    border-radius: 10px;
    color: #222;
    line-height: 1.4;
    width: 353px;
    padding: 16px;
    height: 175px;
    margin: 10px;
}
.tweet-three{
    background: #fff;
    border-radius: 10px;
    color: #222;
    line-height: 1.4;
    width: 353px;
    padding: 16px;
    height: 254px;
    margin: 10px;
}
.tweet-two{
    background: #fff;
    border-radius: 10px;
    color: #222;
    line-height: 1.4;
    width: 353px;
    padding: 16px;
    height: 254px;
    margin: 10px;
}
.tweet-paragraph-one{
    line-height: 23.8px;
    color: rgb(34, 34, 34);
    font-size: 17px;
    width: 94%;
}

.tweet-paragraph-two{
    line-height: 23.8px;
    color: rgb(34, 34, 34);
    font-size: 17px;
    width: 94%;
}

